<div class="rounded-md <%= @bg_color %> p-4">
  <div class="flex">
    <div class="flex-shrink-0"><%= @icon %></div>
    <div class="ml-3">
      <h3 class="text-sm font-medium <%= @header_color %>"><%= @header %></h3>
      <%= if @details do %>
        <div class="mt-2 text-sm <%= @details_color %>"><%= @details %></div>
      <% end %>
    </div>
  </div>
</div>
