<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Alexander Fuchsberger">
    <meta name="description" content="A character sheet and dice tool for DSA.">
    <%= live_title_tag @page_title, suffix: " | DSA Tool" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <%= @inner_content %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
