<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Alexander Fuchsberger">
    <meta name="description" content="<%= gettext("A character, dice, and group management tool for DSA, Das Schwarze Auge") %>">
    <title><%= gettext("DSA Tool") %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class='bg-gray-100'>
    <%= @inner_content %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
