<tr>
  <td class="text-left"><%= @entry.spell.name %></td>
  <td><%= be(@entry.spell.be) %></td>
  <td><%= probe(@entry.spell.probe) %></td>
  <td class="px-1 font-bold"><%= @entry.level %></td>
  <%= if @group_id do %>
    <td>
      <%= submit icon(@conn, "cube"),
        class: "text-indigo-600 hover:text-indigo-400",
        name: input_name(:spell_roll, :spell_id),
        value: @entry.spell_id %>
    </td>
  <% end %>
</tr>
