<h1>Edit Combat set</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.character_combat_set_path(@conn, :update, @combat_set)) %>

<span><%= link "Back", to: Routes.character_combat_set_path(@conn, :index, @character) %></span>
