<h1 class='page-heading text-center mt-3 mb-2'><%= gettext "Edit Combat Set" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.character_combat_set_path(@conn, :update, @character, @combat_set)) %>

<p class='text-center mt-3'><%= link "Back", to: Routes.character_combat_set_path(@conn, :index, @character) %></p>
