<tr id='<%= @title %>' class='header-row'>
  <th scope="row" class="text-left"><%= @title %> (<%= @pages %>)</th>
  <th scope='row'>BE</th>
  <th scope="row"><%= @probe %></th>
  <th scope="row">FW</th>
  <th scope="row"></th>
</tr>
