<tr>
  <th scope='row'><%= @skill.name %></th>
  <td class='small'><%= check_to_string(@skill.check) %></td>
  <td class="small">
    <%= cond do
      not is_nil(@skill.encumbrance_condition) -> gettext("maybe")
      @skill.encumbrance -> gettext("yes")
      true -> gettext("no")
    end %>
  </td>
  <td class="small"><%= @skill.improvement_cost %></td>
  <td class="small">25</td>
</tr>
