<tr>
  <th scope='row'>
    <%= link(@skill.name, to: Routes.skill_path(@conn, :show, @skill.slug)) %>
  </th>
  <td class='small'><%= check_to_string(@skill.check) %></td>
  <td class="small">
    <%= cond do
      not is_nil(@skill.encumbrance_condition) -> gettext("evtl")
      @skill.encumbrance -> gettext("ja")
      true -> gettext("nein")
    end %>
  </td>
  <td class="small"><%= @skill.improvement_cost %></td>
  <td class="small">25</td>
</tr>
