<thead>
  <th scope="col" class='text-left'><%= @category %></th>
  <th scope="col" class='text-center'><%= @check %></th>
  <th scope="col" class="text-center"><%= gettext("Enc") %></th>
  <th scope="col" class="text-center"><%= gettext("Stg") %></th>
  <th scope="col" class="text-center"><%= gettext("SV") %></th>
</head>
