<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title><%= gettext "Confirm Account" %></title>
		<style>
			a{background-color: #EEF2FF; padding: 10px; border-radius: 8px; text-decoration: none; text-transform: none;}
			a:hover{background-color:#C7D2FE;}
		</style>
	</head>
	<body>
		<p><%= gettext "The Twelve Divines greet you!" %></p>
		<p><%= @user.username %><%= gettext ", welcome to the DSA Tool!" %></p>
		<p><%= gettext "To be able to login you first must activate your account:" %></p>
		<p><a href="<%= @url %>/user/confirm/<%= @user.token %>" target="_blank"><%= gettext "Activate" %></a></p>
		<p><%= gettext "May Phex bring you luck when you roll your dice!" %></p>
		<p><%= gettext "Cheers," %><br/>Alex</p>
	</body>
</html>
