<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title><%= gettext "Reset Password" %></title>
	</head>
	<body>
		<p><%= gettext "The Twelve Divines greet you!" %></p>
		<p><%= @user.username %>,</p>
		<p><%= gettext "Here is your link to reset your password:" %><br><a href="<%= @url %>/user/reset/<%= @user.token %>" target="_blank"><%= gettext "Reset Password" %></a></p>
		<p><%= gettext "Cheers," %><br/>Alex</p>
	</body>
</html>
