<h1 class="heading"><%= gettext("Willkommen in Aventurien!") %></h1>
<p><%= gettext("Dieses Tool erlaubt es dir und deiner Spielgruppe DSA (Das Schwarze Auge) online zu spielen (in Begleitung von Zoom). Momentan sind folgende Funktionen möglich:") %></p>
<ul class='list-disc list-inside'>
  <li><%= gettext("Übersicht über Talente") %></li>
  <li><%= gettext("Heldenerstellung und Verwaltung") %></li>
</ul>
