<div class='mr-3'>
  <%= tag(:blue, @entry.character.name) %>
  <%= separator() %>
  <%= tag(:yellow, @title) %>
</div>

<div>
  <%= if @dice, do: tag(:dice, @entry.x1) %>
  <%= if @dice && @result, do: separator() %>
  <%= if @result, do: tag(:text, @entry.x1) %>
</div>
