<div class='mr-3'>
  <span class='label blue'><%= @entry.character_name %></span>
  <span class='label transparent'><%= gettext "dealt" %></span>
  <span class='label yellow'><%= @entry.left %></span>
  <span class='label transparent'><%= gettext "damage." %></span>
</div>

<div class='flex align-middle'>
  <span class='label <%= result_class(@entry) %> text-lg leading-6'><%= @entry.right %></span>
</div>
