<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>R</th>
      <th>SF</th>
      <th>Probe</th>
    </tr>
  </thead>
  <tbody>
  <%= for spell <- @spells do %>
    <tr>
      <td><%= spell.name %></td>
      <td class='text-center'><%= if spell.ritual, do: "✓" %></td>
      <td class='text-center'><%= spell.sf %></td>
      <td class='text-center'><%= probe(spell.probe) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
