<%= render "header.html", conn: @conn %>
<h2><%= dgettext("account", "Login erforderlich") %></h2>
<%= link gettext("Login"), class: "block link", to: Routes.user_session_path(@conn, :index) %>
<%= render "footer.html", conn: @conn %>
