<%= render "header.html", conn: @conn %>
<h2><%= dgettext("account", "Kein Zugriff") %></h2>
<%= if @reason.message do %>
  <%= render DsaWeb.LayoutView, "alert.html", type: :error, message: @reason.message %>
<% end %>
<%= render "footer.html", conn: @conn %>
