<%= render "header.html", conn: @conn %>

<h2><%= gettext("Keine Route gefunden für") %> <%= detailed_path(@conn) %></h2>

<%= if get_flash(@conn, :error) do %>
  <%= render(DsaWeb.LayoutView, "alert.html", type: :error, message: get_flash(@conn, :error)) %>
<% end %>

<%= render "footer.html", conn: @conn %>
