<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Alexander Fuchsberger">
    <meta name="description" content="<%= gettext("A character, dice, and group management tool for DSA, Das Schwarze Auge") %>">
    <title><%= gettext("DSA Tool") %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class='bg-gray-100'>
    <div class='container mx-auto px-3 py-8 md:max-w-screen-sm text-center space-y-3'>
      <%= icon(@conn, "eye-solid", "mx-auto h-12 w-12 text-indigo-600") %>
      <h1 class='font-sans font-bold text-3xl'>Error 404</h1>
      <hr>
      <h2 class='font-sans font-medium text-xl'><%= gettext "The server could not find the requested resource." %></h2>
      <%= link gettext("back to Home"), class: "block link", to: Routes.page_path(@conn, :index) %>
    </div>
  </body>
</html>
