<div class='row g-3'>
  <div class='col-lg'>
    <%= render "member_table.html", assigns %>
  </div>
  <div class='col-lg'>
    <%= if @active_id, do: render "actions.html", assigns %>
    <%= render "log.html", group: @group, user_id: @user_id %>
  </div>
</div>
