<div class='mb-3'>
  <h6><%= "#{List.first(@talents).skill.category}#{@heading}talente" %></h6>
  <%= for talent <- @talents do %>
    <button
      class='btn btn-sm btn-light px-1 py-0'
      phx-click='prepare'
      phx-value-talent='<%= talent.skill.id %>'
    >
      <%= talent.skill.name %>
      <span class='badge bg-dark'> <%= talent.level %></span>
    </button>
  <% end %>
</div>
