/* This file is for your main application css. */
@import "./bulma";
@import "./icons";



table.table-xs td,
table.table-xs th { padding: 0!important; }
table.table-xs input { padding: 0.1rem;  min-height: 0; }

th.number-col { width: 40px; }

.input-group.value label ,
#base-values label,
#advanced-values label { display: inline-block !important; width: 33px; font-weight: 700; }

#log { max-height: 500px; overflow: auto; }

#trait-card label { width: 40px; }
#trait-card input { text-align: center; }

input.small {  padding: 0rem 0.25rem; min-height: 0;}

select.small {height: calc(1.5em + 0.25rem)!important;}
