@layer components {
  .page-wrapper { @apply h-screen flex overflow-hidden bg-gray-100; }

  /* Mobile Sidebar Menu */
  .mobile-wrapper { @apply fixed inset-0 flex z-40 md:hidden; }
  .mobile-backdrop { @apply fixed inset-0 bg-gray-600 bg-opacity-75; }

  .mobile-sidebar-wrapper {
    @apply relative flex-1 flex flex-col w-full bg-gray-800;
    max-width: 256px;
  }
  .mobile-close-button-wrapper { @apply absolute top-0 right-0 -mr-12 pt-2; }
  .mobile-close-button { @apply ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white; }
  .mobile-shrink { @apply flex-shrink-0 w-14; } /* Force sidebar to shrink to fit close icon */

  /* Desktop Sidebar Menu */
  .desktop-wrapper { @apply hidden md:flex md:flex-shrink-0; }
  .desktop-sidebar-wrapper { @apply flex flex-col h-0 flex-1 bg-gray-800; }

  /* Sidebar */
  .sidebar { @apply flex-1 flex flex-col overflow-hidden text-gray-300; }
  .sidebar nav { @apply flex-grow overflow-y-auto my-4 space-y-2; }

  .menu-item { @apply flex items-center px-4 py-1 text-sm border-l-4 border-transparent hover:text-white hover:bg-gray-900; }
  .menu-item.active { @apply text-white bg-gray-900 border-blue-600; }

  .menu-item div { @apply bg-transparent rounded-sm mr-2; }
  .menu-item.active div { @apply bg-gray-700 rounded-sm mr-2; }

  .stl-sidebar-link.stl-sidebar-link-active {
    box-shadow: inset 3px 0 0 #5468ff;
  }

  .stl-sidebar-link:hover, .stl-sidebar-link:focus, .stl-sidebar-link.stl-sidebar-link-active {
      background-color: #111432;
      color: #ffffff;
  }

  .key-combo {
    @apply flex-none px-1.5 py-0.5 rounded-md bg-gray-50 border border-gray-300 text-gray-400 text-sm;
  }

  input#search_query { @apply  text-lg border-0 shadow-none ring-0; }
  input#search_query:focus { @apply outline-none; }

  .sidebar{
    @apply fixed top-0 left-0 h-screen flex flex-col z-30 bg-gray-800 text-gray-300;
    width: 256px;
  }

  a.link { @apply font-medium text-indigo-600 hover:text-indigo-500; }

  /* Submit button in account pages (with lock) */
  .auth-button { @apply primary relative w-full flex justify-center; }
  .auth-button span { @apply absolute left-0 inset-y-0 flex items-center pl-3; }
  .auth-button svg { @apply h-5 w-5 text-indigo-500 group-hover:text-indigo-400; }

  .centered-box {
    @apply flex items-center justify-center pt-2 pb-4 px-4 sm:px-6 lg:px-8;
    min-height: calc(100vh - 4rem);
  }

  .search-hit { @apply relative; }
  .search-hit > a { @apply block rounded-lg bg-gray-50 shadow-sm pl-4 pr-5; }
  .search-hit[aria-selected=true] > a { @apply bg-blue-300; }

  .search-hit > a > div { @apply flex items-center h-16; }
  .search-hit > a > div > strong { @apply text-gray-900 leading-none px-2; }
  .search-hit > a > div > p { @apply flex-grow text-sm text-gray-600 leading-none truncate; }
}

@layer utilities {
  .max-w-xxs { max-width: 16rem; }
}
